* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Font Family */
    --primary-font-family: 'Archivo', sans-serif;
    --secondary-font-family: 'Barlow Semi Condensed', sans-serif;
}